<a href="https://colab.research.google.com/github/arewelearningyet/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/module2-regression-2/LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [3]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [4]:
df.describe()

          bathrooms      bedrooms  ...  wheelchair_access  common_outdoor_space
count  48817.000000  48817.000000  ...       48817.000000          48817.000000
mean       1.201794      1.537149  ...           0.027224              0.026241
std        0.470711      1.106087  ...           0.162738              0.159852
min        0.000000      0.000000  ...           0.000000              0.000000
25%        1.000000      1.000000  ...           0.000000              0.000000
50%        1.000000      1.000000  ...           0.000000              0.000000
75%        1.000000      2.000000  ...           0.000000              0.000000
max       10.000000      8.000000  ...           1.000000              1.000000

[8 rows x 29 columns]

In [5]:
df.dtypes

bathrooms               float64
bedrooms                  int64
created                  object
description              object
display_address          object
latitude                float64
longitude               float64
price                     int64
street_address           object
interest_level           object
elevator                  int64
cats_allowed              int64
hardwood_floors           int64
dogs_allowed              int64
doorman                   int64
dishwasher                int64
no_fee                    int64
laundry_in_building       int64
fitness_center            int64
pre-war                   int64
laundry_in_unit           int64
roof_deck                 int64
outdoor_space             int64
dining_room               int64
high_speed_internet       int64
balcony                   int64
swimming_pool             int64
new_construction          int64
terrace                   int64
exclusive                 int64
loft                      int64
garden_patio              int64
wheelchair_access         int64
common_outdoor_space      int64
dtype: object

In [0]:
df['created']=pd.to_datetime(df['created'], infer_datetime_format=True)

In [7]:
16973/31844

0.5330046476573295

In [0]:
import plotly.express as px

In [9]:
# engineer two new features 
# 1 of 2
df['cats&dogs']=round((df['cats_allowed']+df['dogs_allowed'])/2)
df['cats&dogs']=df['cats&dogs'].astype('int32')
df.head(10)

   bathrooms  bedrooms  ... common_outdoor_space cats&dogs
0        1.5         3  ...                    0         0
1        1.0         2  ...                    0         1
2        1.0         1  ...                    0         0
3        1.0         1  ...                    0         0
4        1.0         4  ...                    0         0
5        2.0         4  ...                    0         0
6        1.0         2  ...                    0         1
7        2.0         1  ...                    0         0
8        1.0         1  ...                    0         1
9        2.0         4  ...                    0         0

[10 rows x 35 columns]

In [10]:
# engineer two new features 
# 2 of 2
from shapely.geometry import Point
df['latlon']=[Point(xy) for xy in zip(df['longitude'], df['latitude'])]
df.head(10)

   bathrooms  bedrooms  ... cats&dogs                              latlon
0        1.5         3  ...         0            POINT (-73.9425 40.7145)
1        1.0         2  ...         1            POINT (-73.9667 40.7947)
2        1.0         1  ...         0            POINT (-74.0018 40.7388)
3        1.0         1  ...         0  POINT (-73.96769999999999 40.7539)
4        1.0         4  ...         0  POINT (-73.94929999999999 40.8241)
5        2.0         4  ...         0  POINT (-74.00279999999999 40.7429)
6        1.0         2  ...         1  POINT (-73.96600000000002 40.8012)
7        2.0         1  ...         0            POINT (-73.9957 40.7427)
8        1.0         1  ...         1            POINT (-73.9457 40.8234)
9        2.0         4  ...         0            POINT (-73.9808 40.7278)

[10 rows x 36 columns]

In [0]:
#import seaborn as sns
#sns.pairplot(df)

In [12]:
# test and train split
train=df.loc[lambda df: df.created.dt.month<6]
test=df.loc[lambda df: df.created.dt.month==6]
train.shape, test.shape

((31844, 36), (16973, 36))

In [26]:

target='price'
y_train = train[target]
y_test = test[target]

# derive a mean baseline
guess=y_train.mean()

y_pred= [guess] * len(y_train)
(y_pred-y_train)

2         725.604007
3         300.604007
4         225.604007
5       -4419.395993
6         -24.395993
            ...
49346    -924.395993
49348    -374.395993
49349     980.604007
49350     225.604007
49351    1375.604007
Name: price, Length: 31844, dtype: float64

In [27]:
from sklearn.metrics import mean_absolute_error
y_pred = [guess] * len(y_train)
mae = mean_absolute_error(y_train, y_pred)
print(f'Train Error (listings before june): ${mae:,.0f}')

Train Error (listings before june): $1,202

In [29]:
#test error
y_pred= [guess] * len(y_test)
mae= mean_absolute_error(y_test, y_pred)
print(f'Test Error (june listings): ${mae:,.0f}')

Test Error (june listings): $1,198

In [0]:
# import estimator
from sklearn.linear_model import LinearRegression
# instantiate
model=LinearRegression()
# #train on >=2 features
features=['longitude', 'garden_patio']

X_train=train[features]
X_test=test[features]

In [77]:
#fit model
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [78]:
y_pred=model.predict(X_train)
mae=mean_absolute_error(y_train, y_pred)
print(f'train error: ${mae:,.0f}')

train error: $1,138

In [79]:
y_pred=model.predict(X_test)
mae=mean_absolute_error(y_test, y_pred)
print(f'test error: ${mae:,.0f}')

test error: $1,130

In [0]:
# fit a linear regression model with at least two features
#def predict(long, garpat):
#  y_pred=model.predict([[long, garpat]])
#  estimate=y_pred[0]
#  coef0=model.coef_[0]
#  coef1=model.coef_[1]
#  result=f'${estimate:,.0f} est price for rentals that {} located at {} longitude.'
#  explanation=f'${coef0:,.0f} and {coef1:,.0f}'
#  return result + '\n' + explanation

In [19]:
#df['longitude'].describe()

count    48817.000000
mean       -73.972760
std          0.028883
min        -74.087300
25%        -73.991800
50%        -73.978000
75%        -73.955000
max        -73.700100
Name: longitude, dtype: float64

In [42]:
model.intercept_, model.coef_

(-1112853.4488934882, array([-15092.00323396,    772.7209121 ]))

In [80]:
beta0=model.intercept_
beta1, beta2 = model.coef_
print(f'y= {beta0} + {beta1}x1 +{beta2}x2')

y= -1112853.4488934882 + -15092.00323395848x1 +772.7209121039097x2

In [81]:
model.predict([[-74, 1]])

array([4727.51133154])

In [82]:
model.predict([[-74, 0]])

array([3954.79041944])

In [83]:
model.predict([[-73.8, 0]])

array([936.38977265])

In [0]:
import numpy as np
from sklearn.metrics import  mean_squared_error, r2_score

def squerr(df, feature, target, m, b):
    # Make predictions
    x = df[feature]
    y = df[target]
    y_pred = m*x + b
    # Print regression metrics
    mse = mean_squared_error(y, y_pred)
    rmse = np.sqrt(mse)
    mae = mean_absolute_error(y, y_pred)
    r2 = r2_score(y, y_pred)
    print('Mean Squared Error:', mse)
    print('Root Mean Squared Error:', rmse)
    print('Mean Absolute Error:', mae)
    print('R^2:', r2)

In [0]:
feature=['garden_patio']

In [98]:
#get regression metrics RMSE MAE and R2 for train data
squerr(train, feature, target, m=beta1, b=y_train.mean())

Mean Squared Error: 12992362.017201144
Root Mean Squared Error: 3604.4919221994583
Mean Absolute Error: 1767.906390813171
R^2: -3.1842975668751947

In [100]:
#get regression metrics RMSE MAE and R2 for test data
squerr(train, feature, target, m=beta1, b=y_test.mean())

Mean Squared Error: 12978936.792498445
Root Mean Squared Error: 3602.6291500095376
Mean Absolute Error: 1770.6643026353024
R^2: -3.1799738623029326